<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training Dashboard</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	 <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	 <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 
	 <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.jqueryui.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
	
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
	
    <script>

	$(document).ready(function() {
	
	
   var table= $('#trainingPage').DataTable(
	 {
			"sAjaxSource": "http://localhost:8080/UBP/fetchAllTraining",
			"sAjaxDataProp": "",
			dom: 'Bfrtip',
			"buttons": [ 'excel', 'pdf'],
			"order": [[ 0, "asc" ]],
			"aoColumns": [
			{ "mData": "employeeId" },
            { "mData": "employeeName" },
            { "mData": "courseName" },
            { "mData": "courseId" },
			{ "mData": "application" },
			{ "mData": "technology" },
			{ "mData": "status" },
            { "mData": "courseCompletionDate" }
			]
		});
		// Filter event handler
    // Setup - add a text input to each footer cell
    $('#trainingPage thead tr').clone(true).appendTo( '#trainingPage thead' );
    $('#trainingPage thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );
	} );
    </script>
</head>
<body >
<h1 align="center">Employee Training Dashboard </h1>
<form  name="employeeTrainingDashboard" id="employeeTrainingDashboard">
<table id="trainingPage" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Course Name</th>
                <th>Course ID</th>
				<th>Application</th>
				<th>Technology</th>
				<th>Status</th>
                <th>Course Completion Date</th>
            </tr>
        </thead>
        
    </table>
</form>

</body>

</html>